# Eat Safe, Love

## Notebook Set Up

In [14]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [15]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [16]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [17]:
# review the collections in our database

databases = mongo.list_database_names()
print(databases)

['admin', 'config', 'local', 'uk_food']

In [18]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [19]:
# Find the establishments with a hygiene score of 20
query = {"Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of establishments with a hygiene score equal to 20:", count)

# Display the first document in the results using pprint
if count > 0:
    pprint(establishments.find_one(query))

Number of establishments with a hygiene score equal to 20: 0

In [20]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 0
First 10 rows of the DataFrame:
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [21]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"$and": [{"LocalAuthorityName": {"$regex": "London", "$options": "i"}}, {"RatingValue": {"$gte": 4}}]}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of establishments in London with RatingValue >= 4:", count)

# Display the first document in the results using pprint
if count > 0:
    pprint(establishments.find_one(query))

Number of establishments in London with RatingValue >= 4: 33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'Latitude': None,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'Longitude': None,
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65f8dc51f66ab12e097ac75f'),
 'geocode': {'latitude': '51.369321', 'longitude': '0.508551'},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [22]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 33
First 10 rows of the DataFrame:
                        _id   FHRSID  ChangesByServerID  \
0  65f8dc51f66ab12e097ac75f   621707                  0
1  65f8dc51f66ab12e097aca82  1130836                  0
2  65f8dc51f66ab12e097ad5d0   293783                  0
3  65f8dc51f66ab12e097ae3d5  1315095                  0
4  65f8dc51f66ab12e097ae3da   294474                  0
5  65f8dc51f66ab12e097aeafa   294900                  0
6  65f8dc52f66ab12e097b0be7   293756                  0
7  65f8dc52f66ab12e097b0fc1   878523                  0
8  65f8dc52f66ab12e097b0fc7   293772                  0
9  65f8dc52f66ab12e097b0fc9   294606                  0

  LocalAuthorityBusinessID                          BusinessName  \
0             PI/000025307                             Charlie's
1             PI/000034075               Mv City Cruises Erasmus
2             PI/000002614             Benfleet Motor Yacht Club
3             PI/000036464  Coombs Catering t/a The Lock and Key
4             PI/000014647              Tilbury Seafarers Centre
5             PI/000019066                            Mv Valulla
6             PI/000002538                         Tereza Joanne
7             PI/000029844                      Brick Lane Brews
8             PI/000002585         The Nuance Group (UK) Limited
9             PI/000016185                              WH Smith

              BusinessType  BusinessTypeID  \
0  Other catering premises            7841
1  Other catering premises            7841
2  Other catering premises            7841
3  Restaurant/Cafe/Canteen               1
4  Restaurant/Cafe/Canteen               1
5  Other catering premises            7841
6  Other catering premises            7841
7  Restaurant/Cafe/Canteen               1
8        Retailers - other            4613
9        Retailers - other            4613

                                        AddressLine1  \
0         Oak Apple Farm Building 103 Sheernes Docks
1                                 Cherry Garden Pier
2                                         Ferry Road
3                                  Leslie Ford House
4                          Tenants Row Tilbury Docks
5  Reeds River Cruises LtdKings ReachRiver Thames...
6  Funcraft UK Ltd King George V Dock Woolwich Ma...
7                       Air side London City Airport
8                  Duty Free Shop Passenger Terminal
9                                London City Airport

                           AddressLine2 AddressLine3  ...  \
0                           Sheppy Kent               ...
1      Cherry Garden Street Rotherhithe     Charlton  ...
2                  South Benfleet Essex               ...
3                               Tilbury     Charlton  ...
4                         Tilbury Essex               ...
5                                London               ...
6                                London               ...
7                                London               ...
8  London City AirportRoyal DocksLondon               ...
9                     Silvertown London               ...

                                              scores SchemeType  \
0  {'Hygiene': 5, 'Structural': 10, 'ConfidenceIn...       FHRS
1  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
2  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
3  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
4  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
5  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
6  {'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...       FHRS
7  {'Hygiene': 10, 'Structural': 5, 'ConfidenceIn...       FHRS
8  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS
9  {'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...       FHRS

                                             geocode  RightToReply  \
0  {'longitude': '0.508551', 'latitude': '51.3693...
1  {'longitude': '0.249255999922752', 'latitude':...
2  {'longitude': '0.561954', 'latitude': '51.5438...
3  {'longitude': '0.346336990594864', 'latitude':...
4  {'longitude': '0.346325', 'latitude': '51.4640...
5  {'longitude': '0.287555', 'latitude': '51.5040...
6  {'longitude': '0.069286', 'latitude': '51.5011...
7  {'longitude': '0.048006', 'latitude': '51.5037...
8  {'longitude': '0.047966', 'latitude': '51.5041...
9  {'longitude': '0.0479655750095844', 'latitude'...

      Distance NewRatingPending  \
0  4627.439468            False
1  4627.873179            False
2  4631.968418            False
3  4636.846754            False
4  4636.847650            False
5  4640.460834            False
6  4648.301822            False
7  4649.173485            False
8  4649.188826            False
9  4649.188850            False

                                                meta  \
0  {'dataSource': None, 'extractDate': '0001-01-0...
1  {'dataSource': None, 'extractDate': '0001-01-0...
2  {'dataSource': None, 'extractDate': '0001-01-0...
3  {'dataSource': None, 'extractDate': '0001-01-0...
4  {'dataSource': None, 'extractDate': '0001-01-0...
5  {'dataSource': None, 'extractDate': '0001-01-0...
6  {'dataSource': None, 'extractDate': '0001-01-0...
7  {'dataSource': None, 'extractDate': '0001-01-0...
8  {'dataSource': None, 'extractDate': '0001-01-0...
9  {'dataSource': None, 'extractDate': '0001-01-0...

                                               links Latitude Longitude
0  [{'rel': 'self', 'href': 'https://api.ratings....     None      None
1  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
2  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
3  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
4  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
5  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
6  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
7  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
8  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None
9  [{'rel': 'self', 'href': 'http://api.ratings.f...     None      None

[10 rows x 30 columns]

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [30]:
# Search within 0.01 degree on either side of the latitude and longitude.
degree_search = 0.01
latitude = 51.490142
longitude = 0.08384

query = {
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
    "RatingValue": 5
}

# Define the sort criteria to sort by hygiene score
sort = [("scores.Hygiene", 1)]

# Limit the number of results to 5
limit = 5

results = list(establishments.find(query).sort(sort).limit(limit))

# print the results
pprint(results)

[]

In [31]:
# Convert result to Pandas DataFrame
import pandas as pd

# Convert the cursor result to a list of dictionaries
result_list = list(results)

# Convert the list of dictionaries to a Pandas DataFrame
df = pd.DataFrame(result_list)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: []
Index: []

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [32]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result
pipeline = [
    {"$match": {"scores.Hygiene": 0}},
    {"$group": {"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

result = list(establishments.aggregate(pipeline))

print("Number of establishments in each Local Authority area with a hygiene score of 0:")

# print the first 10 results
for doc in result[:10]:
    print(doc)

Number of establishments in each Local Authority area with a hygiene score of 0:
{'_id': 'Thanet', 'count': 1130}
{'_id': 'Greenwich', 'count': 882}
{'_id': 'Maidstone', 'count': 713}
{'_id': 'Newham', 'count': 711}
{'_id': 'Swale', 'count': 686}
{'_id': 'Chelmsford', 'count': 680}
{'_id': 'Medway', 'count': 672}
{'_id': 'Bexley', 'count': 607}
{'_id': 'Southend-On-Sea', 'count': 586}
{'_id': 'Tendring', 'count': 542}

In [33]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))

Number of rows in the DataFrame: 55
First 10 rows of the DataFrame:
               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542